@import "../../common/styles/variables.styl"

p
    font-size $header-font-size
    text-transform uppercase
    margin-top 0px
    margin-bottom 0px
    line-height $sub-huge-font-size

    span.number
        margin-right 5px
        margin-left 5px
        color $main-theme-color
        font-size $sub-huge-font-size
