 <md-toolbar>
    <app-back-button></app-back-button>
    <app-title></app-title>
    <button md-mini-fab [routerLink]="['/teams', 'add']">
        <md-icon>add</md-icon>
    </button>
</md-toolbar>

<md-card
    *ngFor="let team of teams"
    [routerLink]="['/teams', team.id]"
>
    <div class="team-header">
        <h1>{{ team.name }}</h1>
        <span>({{ roleNames[team.role] }})</span>
    </div>
</md-card>

<app-load-more-block
    [canLoadMore]="canLoadMore"
    (loadMoreCallback)="loadMore()"
></app-load-more-block>
