@import "../common/styles/variables.styl"

.error-page
    width: 100%
    height: 100%
    background-size: cover
    color: $general-background-color
    background: black no-repeat center center scroll
    overflow-y: auto

.error-text
    margin: 0
    padding-top: 100px
    text-align: center

    h1
        font-size: 4.5em
        font-weight: 700

    h1, h3
        margin: 0 auto

.info
    text-align: left
    overflow-x: hidden
    white-space: pre-wrap
    margin-top: 25px
    padding: 25px
    color: $general-background-color
    background: rgba(0, 0, 0, .25)
