<div class="player-details">
    <div class="first-part">
        <div class="profile-pic" [style.background-image]='profilePicUrl'></div>
    </div>
    <div class="second-part">
        <div class="info">
            <div class="name-container">
                <div>
                    <h1 class="name">
                        {{ user?.firstName }}
                        {{ user?.lastName }}
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>
