.gffc-button
    padding 10px 16px
    font-size 18px
    line-height 1.3333333
    border-radius 0

.btn-dark
    cursor pointer
    border none
    border-radius 0
    color #fff
    background-color rgba(0,0,0,0.4)

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active
    color #fff
    background-color rgba(0,0,0,0.7)
