@import 'variables.styl'

form.white-form
    color $general-background-color

    md-input-container
        input.mat-input-element
            color $general-background-color

    /deep/.mat-input-placeholder
        color $general-background-color
