md-sidenav-container
    max-width: 1000px
    margin: auto
    box-shadow: 0px 0px 5px 0px rgba(100, 100, 100, 0.75)

md-input-container, md-select
    width: 100%

// Tabs
.mat-tab-labels
    justify-content: space-around

// List item content
.mat-list-item-content
    width 100%

// Autocomplete list with full width of input
div.mat-autocomplete-panel
    max-width 100%

.main-theme-color
    color $main-theme-color

// Buttons
.mat-icon-button
    color $main-theme-color!important

.toolbar-icon-spacer
    width: 40px  // md-icon-button width
