$main-theme-color = #2DB5FF
$general-background-color = #eee
$sub-color = #aaa
$hover-color = #fafafa

$general-font-color = #292b2c

$extra-small-font = 12px
$general-font-size = 14px
$subheader-font-size = 16px
$header-font-size = 20px
$title-font-size = 22px
$huge-font-size = 80px

//cards and content
$card-height = 72px
$card-width = 640px
$pic-dia = 50px

//screen size
$media-phone = 480px
