@import "../../common/styles/variables.styl"
@import "../../common/styles/custom-buttons.styl"

.root
    height 100vh
    background-repeat no-repeat
    background-position center center

    display flex
    justify-content center
    align-items center

    .title h1
        color $general-background-color
        font-size 3.5em
        font-weight 700
        line-height 1.1
        text-align center

    .landing-container > .button-container
            text-align center
            display flex
            justify-content center

.description
    color $sub-color
    margin-top 20px
    margin-bottom 10px
    font-weight 500
    line-height 1.1
    font-size $header-font-size
    text-align center

.button-container
    display flex
    justify-content center
    align-items center
    padding 10px 0px

    button
        display flex
        justify-content center
        align-items center

        .icon-wrapper
            padding-right 10px

        .facebook-icon
            float: left
            width: 26px
            height: 26px
            fill: $hover-color
