@import "../common/styles/variables.styl"

.description
    color $sub-color
    margin-top 20px
    margin-bottom 10px
    font-weight 500
    line-height 1.1
    font-size $header-font-size
    text-align center

.button-container
    display flex
    justify-content center
    align-items center
    padding 10px 0px

    button
        display flex
        justify-content center
        align-items center

        .icon-wrapper
            padding-right 10px

        .facebook-icon
            float: left
            width: 26px
            height: 26px
            fill: $hover-color
