@import "../common/styles/variables.styl"
@import "../common/styles/custom-buttons.styl"

.root
    text-align center
    display flex
    flex-flow column
    align-items center
    justify-content center
    height 600px

    .button-container
        padding-top 50px

        button
            display flex
            justify-content center
            align-items center

            .icon-wrapper
                padding-right 10px

            .facebook-icon
                float: left
                width: 26px
                height: 26px
                fill: $hover-color
