fb-color = #3B5998

h1
    text-align: center
    padding-bottom: 30px

.container
    max-width: 420px
    margin: 0 auto
    padding-top: 50px

.facebook-icon
    float: left
    width: 26px
    height: 26px
    fill: fb-color

.work-in-progress
    opacity: .8
    cursor: not-allowed

.form-signin
    padding-top: 50px

    .caption
        text-align: center
