<md-toolbar>
    <app-menu-button></app-menu-button>
    <app-title></app-title>
    <span class="toolbar-icon-spacer"></span>
</md-toolbar>

<div *ngIf="empty" class="no-games">
    <p>You don't have any games yet</p>

    <button [routerLink]="['/teams']" color=primary md-raised-button>
        Find a team
    </button>
</div>
<div class="container">
    <table *ngIf="!empty" class='table events-list'>
        <thead class="thead-inverse">
            <tr>
                <th>Team(s)</th>
                <th>Time &amp; Date</th>
                <th>Location</th>
                <th>Going?</th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let event of events"
                [routerLink]="['/events', event.id]"
            >
                <td>
                    <a href="javascript:void(0)">
                        {{ event.teams[0]?.name }}
                    </a>
                    <span *ngIf="event.teams[1]">
                        vs
                        <a href="javascript:void(0)">
                            {{ event.teams[1]?.name }}
                        </a>
                    </span>
                </td>
                <td>
                    {{ event.datetime | date: 'shortTime' }}
                    {{ event.datetime | date: 'fullDate' }}
                </td>
                <td><a href="javascript:void(0)">{{
                    event.location.name
                }}</a></td>
                <td><a href="javascript:void(0)">
                    Not sure
                </a></td>
            </tr>
        </tbody>
    </table>
</div>
