$bf-hover = #eee

.no-games
    max-width: 640px
    margin: 0 auto
    padding-top: 50px

.events-list:hover
    tr:hover
        background-color: $bf-hover

.new-button
    float: right
    margin-top: 7px
