<md-toolbar>
    <app-menu-button></app-menu-button>
    <app-title></app-title>
    <span class="toolbar-icon-spacer"></span>
</md-toolbar>

<div class="container">
    <div *ngIf="!events" class='no-games'>
        <div class="alert alert-info" role="alert">
            <p>It seems, that you don't have any games lined up.</p>
        </div>
        <div class="form-group row">
            <div class="col-sm-12 col-md-5">
                <input
                    class="form-control"
                    id="search"
                    placeholder="Find some..."
                    type="search"
                >
            </div>
            <div class="col-sm-12 col-md-2" style="text-align: center">
                — OR —
            </div>
            <div class="col-sm-12 col-md-5">
                <button
                    (click)="showExamples()"
                    class="btn btn-primary btn-block"
                    type="button"
                >
                    Create one
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="events" class='row'>
        <div class="col-md-12 events-header">
            <h1>Here are your games</h1>
        </div>
    </div>
    <table  *ngIf="events" class='table events-list'>
        <thead class="thead-inverse">
            <tr>
                <th>Team(s)</th>
                <th>Time &amp; Date</th>
                <th>Location</th>
                <th>Going?</th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let event of events"
                [routerLink]="['/events', event.id]"
            >
                <td>
                    <a href="javascript:void(0)">
                        {{ event.teams[0]?.name }}
                    </a>
                    <span *ngIf="event.teams[1]">
                        vs
                        <a href="javascript:void(0)">
                            {{ event.teams[1]?.name }}
                        </a>
                    </span>
                </td>
                <td>
                    {{ event.datetime | date: 'shortTime' }}
                    {{ event.datetime | date: 'fullDate' }}
                </td>
                <td><a href="javascript:void(0)">{{
                    event.location.name
                }}</a></td>
                <td><a href="javascript:void(0)">
                    Not sure
                </a></td>
            </tr>
        </tbody>
    </table>
</div>
