<div class="players-tile" *ngIf="player">
    <h1 class="players-tile-header">Search for other players!</h1>
    <div class="players-content">
        <div>
            <img [src]="player.img" alt="" class="player-pic">
            <div class="player-info">
                <h1> {{ player.firstName }} {{ player.lastName }} </h1>
                <div class="info bio"> {{ player.bio }} </div>
            </div>
        </div>
    </div>
    <h1 class="players-tile-footer">And more players here!</h1>
</div>
