<md-toolbar>
    <app-back-button></app-back-button>
    <app-title></app-title>
    <button
        *ngIf="!isPlayer && !isManager"
        md-button color="primary"
        [disabled]="!canAskToJoin"
    >
        Ask to join
    </button>
</md-toolbar>

<md-tab-group #tabGroup (selectedIndexChange)="selectedIndexChange($event)">
    <md-tab label="Info">
        <div class="header-content">
            <div class="header-text"><p>{{ team?.name }}</p><p class="team-info">[{{ ['coed', 'female', 'male'][team?.type] }}] {{ team?.info }}</p></div>
            <button md-mini-fab *ngIf="isPlayer || isManager" [routerLink]="['/players', {targetTeam: team.id}]"><md-icon>add</md-icon></button>
            <span style="width: 10px"></span>
            <button md-mini-fab *ngIf="isManager" [routerLink]="['edit']"><md-icon>edit</md-icon></button>
        </div>
        <hr/>
        <md-card>
            <h1>Managers</h1>
            <hr>
            <md-list>
            <a
                md-list-item
                class="player"
                *ngFor="let player of team?.managers"
                [routerLink]="['/players', player.id]"
            >
                <img [src]="player.img" alt="" class="player-pic">
                <div class="player-info">
                    <h1> {{ player.firstName }} {{ player.lastName }} </h1>
                </div>
            </a>
            </md-list>
        </md-card>
        <md-card>
            <h1>Roster</h1>
            <hr>
            <md-list>
            <a
                md-list-item
                class="player"
                *ngFor="let player of team?.players"
                [routerLink]="['/players', player.id]"
            >
                <img [src]="player.img" alt="" class="player-pic">
                <div class="player-info">
                    <h1> {{ player.firstName }} {{ player.lastName }} </h1>
                    <div class="role">
                        {{ ROLES[player.role] }}
                    </div>
                </div>
            </a>
            </md-list>
        </md-card>
    </md-tab>

    <md-tab label="Schedule">
        <div class="header-content">
            <div class="header-text"><p>{{ team?.name }}</p><p class="team-info">Games schedule:</p></div>
            <button md-mini-fab *ngIf="isManager" [routerLink]="['/games/add', {targetTeam: team.id}]"><md-icon>add</md-icon></button>
        </div>
        <hr/>
        <md-card
            *ngFor="let game of scheduledGames"
            [routerLink]="['/games', game.id]">
            <h1>{{ game.name }}</h1>
            <hr>
            <div>
                <h1>{{ game.datetime | date:'EEEE, h:mm a' }}</h1>
                <span class="info">
                    {{ game.datetime | date:'MMMM d, y' }}
                </span>
            </div>
            <div>
                <h1>{{ game.location.name }}</h1>
                <span class="info">
                    {{ game.location.address }}
                </span>
            </div>
        </md-card>
    </md-tab>

    <md-tab label="Chat">
        Coming SOON™
    </md-tab>
</md-tab-group>
