@import "../../common/styles/variables.styl"

.team-info
    color: $sub-color
    font-size: $subheader-font-size

.roaster-block
    .header-text
        & > h1
            float left
        & > button
            float right
