<md-toolbar>
    <app-navigation></app-navigation>
    <app-title></app-title>
    <button
        *ngIf="!isPlayer && !isManager"
        (click)="askToJoin()"
        [disabled]="!canAskToJoin"
        md-button color="primary"
    >
        Ask to join
    </button>
</md-toolbar>

<md-tab-group #tabGroup (selectedIndexChange)="selectedIndexChange($event)">
    <md-tab label="Info">
        <div class="header-content">
            <div class="header-text"><p>{{ team?.name }}</p><p class="team-info">[{{ ['coed', 'female', 'male'][team?.type] }}] {{ team?.info }}</p></div>
            <button *ngIf="isManager" md-icon-button [routerLink]="['edit']"><app-icon name="edit-3"></app-icon></button>
        </div>
        <hr/>
        <md-card>
            <div class="header-content">
                <div class="header-text">
                    <h1>Managers</h1>
                </div>
            </div>
            <hr>
            <md-list>
            <a
                md-list-item
                class="player"
                *ngFor="let player of team?.managers"
                [routerLink]="['/players', player.id]"
            >
                <img [src]="player.img" alt="" class="player-pic">
                <div class="player-info">
                    <h1> {{ player.firstName }} {{ player.lastName }} </h1>
                </div>
            </a>
            </md-list>
        </md-card>
        <md-card class="roaster-block">
            <div class="header-content">
                <div class="header-text">
                    <h1>Roster</h1>
                    <button
                        md-icon-button
                        *ngIf="isManager"
                        [routerLink]="['/players', {targetTeam: team.id}]">
                        <app-icon name="user-plus"></app-icon>
                    </button>
                </div>
            </div>
            <hr>
            <md-list>
            <a
                md-list-item
                class="player"
                *ngFor="let player of team?.players"
                [routerLink]="['/players', player.id]"
            >
                <img [src]="player.img" alt="" class="player-pic">
                <div class="player-info">
                    <h1> {{ player.firstName }} {{ player.lastName }} </h1>
                    <div class="role">
                        {{ ROLES[player.role] }}
                    </div>
                </div>
            </a>
            </md-list>
        </md-card>
    </md-tab>

    <md-tab label="Schedule">
        <div class="header-content">
            <div class="header-text"><p>{{ team?.name }}</p><p class="team-info">Games schedule</p></div>
            <button md-icon-button *ngIf="isManager"
                    [routerLink]="['/games/add', {targetTeam: team.id}]">
                <app-icon name="plus-circle"></app-icon></button>
        </div>
        <hr/>
        <app-games-list [games]="scheduledGames"></app-games-list>
    </md-tab>

    <md-tab label="Chat">
        Coming SOON™
    </md-tab>
</md-tab-group>
