@import "../../common/styles/variables.styl"

.team-data
    width 100%
    display inline-block

    & > .team-info
        display inline-block
        float left

    & > .role-title
        float right
        color $main-theme-color
