<div class="container">
    <span class="header">
        <h1>next game</h1>
        <span class="rsvp-title">
            <!--<span class="my-status" *ngIf="rsvpStatus != null">status</span>-->
            <span class="rsvp-status" *ngIf="rsvpStatus != null">{{rsvpMessages[rsvpStatus]}}</span>
        </span>
    </span>
    <div class="games-container" *ngIf="nextGame">
        <div class="game-description">
            <h3>{{ nextGame.datetime | date:'EEEE, h:mm a' }}, {{ nextGame.datetime | date:'MMMM d, y' }}</h3>
            <h4>{{ nextGame.location.name }}</h4>
            <span class="info">{{ nextGame.location.address }}</span>
            <h4 class="game-name-h4">{{ nextGame.name }}</h4>
        </div>
    </div>
</div>
