@import "../../common/styles/variables.styl"

.container
    width 100%
    height 100%

    display flex
    justify-content center
    align-items center
    text-align center
    flex-flow column

    h1
        font-size $title-font-size
        text-transform uppercase
        padding-bottom 10px
