@import "../../common/styles/variables.styl"

.container
    width 100%
    height 100%

    display flex
    justify-content center
    align-items center
    text-align center
    flex-flow column

    h1
        font-size $title-font-size
        text-transform uppercase
        padding-bottom 10px

    .games-container
        padding 24px 0
        background-color $hover-color
        border: 1px solid $main-theme-color

        & > div
            padding 0 20px

        & > .rsvp-title
            padding 0 30px 0 0
            margin 0
            position absolute
            right 0px
            margin-top -20px

            & > span
                font-size $header-font-size
                color $main-theme-color
                text-transform uppercase
