$load-more-card-height = 42px

.load-more-container md-card
    height: $load-more-card-height
    text-align: center
    margin: 15px auto
    max-width: 640px
    overflow: hidden
    padding: 12px

    &:hover
        text-decoration: none
        background: #fafafa

    &.clickable
        cursor: pointer

    .load-more
        margin: auto
        padding: auto
