<div class="cover" [style.background-image]='coverUrl'>
</div>
<div class="info">
    <div class="profile-pic" [style.background-image]='profilePicUrl'></div>
    <div class="name-container">
        <div></div>
        <div>
            <h1 class="name">
                {{ player?.firstName }}
                {{ player?.lastName }}
            </h1>
            <span class="gender" *ngIf="player?.gender != null">
                {{ ['MALE', 'FEMALE'][player.gender] }}
            </span>
            <span class="birthday" *ngIf="player?.birthday != null">
                {{ player?.birthday | date:'mediumDate' }}
            </span>
        </div>
    </div>
</div>
<div class="bio">
    <h1>BIO</h1>
    <p>
        {{ player?.bio }}
    </p>
</div>
