<md-toolbar>
    <app-back-button></app-back-button>
    <app-title></app-title>
</md-toolbar>

<md-card
    *ngFor="let game of games"
    [routerLink]="['/games', game.id]"
>
    <h1>{{ game.name }}</h1>
    <hr>
    <div>
        <h1>{{ game.datetime | date:'EEEE, h:mm a' }}</h1>
        <span class="info">
            {{ game.datetime | date:'MMMM d, y' }}
        </span>
    </div>
    <div>
        <h1>{{ game.location.name }}</h1>
        <span class="info">
            {{ game.location.address }}
        </span>
    </div>
</md-card>

<app-load-more-block [canLoadMore]="canLoadMore" (loadMoreCallback)="loadMore()"></app-load-more-block>
