<md-toolbar>
    <app-home-button></app-home-button>
    <app-title></app-title>
    <div class="toolbar-icon-spacer"></div>

    <md-toolbar-row>
        <form [formGroup]="form" class="full-width">
            <md-input-container>
                <input mdInput
                    formControlName="search"
                    placeholder="Search"
                    [style.width]="'100%'"
                    #search>
            </md-input-container>
        </form>
    </md-toolbar-row>
</md-toolbar>

<md-card
    *ngFor="let player of players"
    (click)="openDetails(player)">
    <img [src]="player.img" alt="" class="player-pic">
    <div class="player-info">
        <h1> {{ player.firstName }} {{ player.lastName }} </h1>
        <div class="info bio"> {{ player.bio }} </div>
    </div>
</md-card>

<app-load-more-block [canLoadMore]="canLoadMore" (loadMoreCallback)="loadMore()"></app-load-more-block>
