<md-toolbar>
    <app-menu-button></app-menu-button>
    <span class='toolbar-title'> {{ title.observable | async }} </span>

    <div class="toolbar-icon-spacer"></div>
    <md-toolbar-row>
        <md-input
            placeholder="Search"
            [style.width]="'100%'"
            #searchField
        ></md-input>
    </md-toolbar-row>
</md-toolbar>


<md-card
    *ngFor="let player of players | textSearch: searchField.value"
    [routerLink]="['/players', player.id]"
>
    <img [src]="player.img" alt="" class="player-pic">
    <div class="player-info">
        <h1> {{ player.firstName }} {{ player.lastName }} </h1>
        <div class="bio"> {{ player.bio }} </div>
    </div>
</md-card>
