$card-height = 72px
$pic-dia = 50px
$sub-color = #aaa

md-card
    display: flex
    height: $card-height
    margin: 15px auto
    max-width: 640px
    overflow: hidden
    padding: 12px

    &:hover
        text-decoration: none
        background: #fafafa

    .player-info
        padding: 0 12px

    h1
        font-size: 16px
        margin: 5px 0 0

    .bio
        color: $sub-color
        font-size: 11px
        max-height: 32px
        overflow: hidden

.player-pic
    border-radius: 50%
    max-height: $pic-dia  //
    max-width: $pic-dia   // Workournd flexbox bug that causes avatars
    min-height: $pic-dia  // to apear with random size
    min-width: $pic-dia   //

.full-width
    width: 100%
