<md-toolbar>
    <app-menu-button></app-menu-button>
    <app-title></app-title>
    <div class="toolbar-icon-spacer"></div>

    <md-toolbar-row>
        <form [formGroup]="form" class="full-width">
            <md-input-container>
                <input mdInput
                    formControlName="search"
                    placeholder="Search"
                    [style.width]="'100%'"
                    #search>
            </md-input-container>
        </form>
    </md-toolbar-row>
</md-toolbar>

<md-card
    *ngFor="let player of players"
    [routerLink]="
        targetTeam?
        ['/players', player.id, {targetTeam: targetTeam}] :
        ['/players', player.id]">
    <img [src]="player.img" alt="" class="player-pic">
    <div class="player-info">
        <h1> {{ player.firstName }} {{ player.lastName }} </h1>
        <div class="bio"> {{ player.bio }} </div>
    </div>
</md-card>

<div class="load-more-container" *ngIf="canLoadMore">
    <md-card class="clickable" *ngIf="!isLoading" (click)="loadMore()">
        <div class="load-more">
            <span>Load more</span>
        </div>
    </md-card>
    <div class="load-more" *ngIf="isLoading">
        <md-spinner></md-spinner>
    </div>
</div>
