@import "../../common/styles/variables.styl"

.container
    width 100%
    height 100%

    display flex
    justify-content center
    align-items center
    flex-flow row

    .first-part
        color $main-theme-color
        font-size $sub-huge-font-size
        width 50%
        text-align right

    .second-part
        padding-left 10px
        font-size $title-font-size
        text-transform uppercase

    .no-data
        font-size $header-font-size
        text-align center

        p
            margin-bottom 0px

    @media only screen and (max-width: $media-phone), only screen and (max-device-width: $media-phone)
        flex-flow column

        .first-part
            width auto
            text-align center

        .second-part
            margin 0px 5px
            padding-left 0px
            font-size $header-font-size
            text-align center
