@import "../../common/styles/variables.styl"

.container
    width 100%
    height 100%

    display flex
    justify-content center
    align-items center
    flex-flow row

    .first-part
        color $main-theme-color
        font-size $huge-font-size
        width 50%
        text-align right

    .second-part
        padding-left 10px
        font-size $title-font-size
        text-transform uppercase
