
<md-sidenav-layout>
    <md-sidenav #start (open)="closeStartButton.focus()">
        Start Sidenav.
        <br>
        <button md-button #closeStartButton (click)="start.close()">
            Close
        </button>
    </md-sidenav>
    <md-sidenav #end align="end">
        End Sidenav.
        <button md-button (click)="end.close()">Close</button>
    </md-sidenav>


    <h1>
        {{title}}
    </h1>
    <router-outlet></router-outlet>

    <button md-button (click)="start.open()">
        Open start sidenav
    </button>
    <button md-button (click)="end.open()">
        Open end sidenav
    </button>
</md-sidenav-layout>
