.mat-sidenav-container.fullScreenMode
    width auto
    max-width none

.developBack
    position fixed
    width 100%
    height 100%
    background-image url('../assets/dev-back.svg')
    pointer-events none
    opacity 0.2

md-sidenav
    width: 200px
