<div class="non-registered-pages">
    <div class="center-block">
        <div class="title">
            <h1>GOOD FOOT CLUB</h1>
        </div>
        <div class="body" *ngIf="!submitted">
            <div class="sub-header">Enter new password</div>

            <form [formGroup]="changePasswordForm" autocomplete="off" class="white-form">
                <md-input-container [dividerColor]="getPasswordDividerColor('password')" #passwordContainer>
                    <input mdInput
                           #password
                           [style.width]="'100%'"
                           autocomplete="off"
                           formControlName="password"
                           placeholder="New password"
                           type='password'>
                    <md-hint align="end" class="hint-container" *ngIf="passwordContainer._control.focused">
                        <span *ngIf="changePasswordForm.controls.password.errors?.required && changePasswordForm.controls.password.dirty">required</span>
                        <span *ngIf="changePasswordForm.controls.password.errors?.minlength && password.value.length > 0">min 6 symbols</span>
                        <span *ngIf="changePasswordForm.errors?.different_passwords">different passwords</span>
                        <span *ngIf="!changePasswordForm.controls.password.errors?.required">{{ password.value.length }} / 30</span>
                    </md-hint>
                </md-input-container>

                <md-input-container [dividerColor]="getPasswordDividerColor('repeatPassword')" #repeatPasswordContainer>
                    <input mdInput
                           #repeatPassword
                           [style.width]="'100%'"
                           autocomplete="off"
                           formControlName="repeatPassword"
                           placeholder="Repeat Password"
                           type='password'>
                    <md-hint align="end" class="hint-container" *ngIf="repeatPasswordContainer._control.focused">
                        <span *ngIf="changePasswordForm.controls.repeatPassword.errors?.required && changePasswordForm.controls.repeatPassword.dirty">required</span>
                        <span *ngIf="changePasswordForm.controls.repeatPassword.errors?.minlength && repeatPassword.value.length > 0">min 6 symbols</span>
                        <span *ngIf="changePasswordForm.errors?.different_passwords">different passwords</span>
                        <span *ngIf="!changePasswordForm.controls.repeatPassword.errors?.required">{{ repeatPassword.value.length }} / 30</span>
                    </md-hint>
                </md-input-container>
            </form>

            <div class="button-container">
                <button class="gffc-button btn-dark" (click)="changePassword()" [disabled]="changePasswordForm.invalid">
                    <app-icon name="repeat-white" class="icon-wrapper"></app-icon>
                    Reset password
                </button>
            </div>
        </div>
        <div class="body" *ngIf="submitted">
            <div class="grey-text">
                <p>Password changed. You'll be redirected now.</p>
                <p class="white-text">{{time}}..</p>
            </div>
        </div>
    </div>
</div>
