@import "../../common/styles/variables.styl"

.contact-us-container
    width 100%
    height 64px

    display flex
    justify-content center
    align-items center

    &:hover
        background-color $hover-color

    h1
        font-size $title-font-size
        text-transform uppercase
