<div class="non-registered-pages">
    <div class="center-block">
        <div class="title">
            <h1>GOOD FOOT CLUB</h1>
        </div>
        <div class="body" *ngIf="submitted">
            <div class="sub-header">Please enter your email</div>

            <form [formGroup]="resetForm" autocomplete="off" class="white-form">
                <md-input-container #emailContainer>
                    <input mdInput
                           #email
                           [style.width]="'100%'"
                           autocomplete="off"
                           formControlName="email"
                           placeholder="Email"
                           type='text'>
                    <md-hint align="end" *ngIf="emailContainer && emailContainer._control && emailContainer._control.focused">
                        <span *ngIf="!resetForm.controls.email.errors?.required">{{ email.value.length }} / 30</span>
                    </md-hint>
                </md-input-container>
            </form>

            <div class="button-container">
                <button class="gffc-button btn-dark" (click)="reset()">
                    <app-icon name="skip-back-white" class="icon-wrapper"></app-icon>
                    Reset password
                </button>
            </div>

            <div class="link-button">
                <a (click)="back()" class="back-button">back</a>
            </div>
        </div>
        <div class="body" *ngIf="!submitted">
            <div class="sub-header">We've sent you an email</div>
        </div>
    </div>
</div>
