@import "../../common/styles/variables.styl"

.team-data
    display inline-block

.close-button
    margin-right 10px
    float right
    color $main-theme-color
    cursor pointer

.team-footer
    margin-top 15px
    width 100%
