<md-toolbar>
    <app-navigation></app-navigation>
    <app-title></app-title>
    <div class="toolbar-icon-spacer"></div>
</md-toolbar>


<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- Team name -->
    <md-input-container [dividerColor]="
                form.controls.name.valid ||
                form.controls.name.pristine ?
                'primary' : 'warn'" #nameContainer>
        <input mdInput
            #name
            [style.width]="'100%'"
            formControlName="name"
            placeholder="Team name"
            required
            type='text'>
            <md-hint *ngIf="nameContainer._control.focused" align="end">
                <span *ngIf="form.controls.name.errors?.required">
                    required
                </span>
                <span *ngIf="!form.controls.name.errors?.required">
                    {{ name.value.length }} / 30
                </span>
            </md-hint>
    </md-input-container>
    <br>

    <md-input-container [dividerColor]="form.controls.info.valid ? 'primary' : 'warn'" #infoContainer>
        <textarea mdInput
            #info
            [style.width]="'100%'"
            type='text'
            formControlName="info"
            placeholder="Info">
            <md-hint *ngIf="infoContainer._control.focused">
                Describe your team for potential players
            </md-hint>
            <md-hint *ngIf="infoContainer._control.focused" align="end">
                {{ info.value.length }} / 1000
            </md-hint>
        </textarea>
    </md-input-container>
    <br>

    <md-radio-group formControlName="type">
        <!--
            Couple divs on each side to make something in the middle between
            justify-content: center and justify-content: space-around
        -->
        <div></div>
        <div></div>
        <md-radio-button value="2">Men</md-radio-button>
        <md-radio-button value="1">Women</md-radio-button>
        <md-radio-button value="0">Coed</md-radio-button>
        <div></div>
        <div></div>
    </md-radio-group>
    <br>

    <div class="buttons">
        <button
            (click)="onCancel()"
            md-raised-button>
            Cancel
        </button>
        <button
            [disabled]="form.invalid"
            color="primary"
            md-raised-button
            type="submit">
            Save
        </button>
    </div>
</form>
