<md-toolbar>
    <app-menu-button></app-menu-button>
    <app-title></app-title>
    <button md-icon-button [routerLink]="['add']">
        <md-icon>add_circle_outline</md-icon>
    </button>

    <md-toolbar-row>
        <md-input
            placeholder="Search"
            [style.width]="'100%'"
            #searchField
        ></md-input>
    </md-toolbar-row>
</md-toolbar>

<md-card
    *ngFor="let game of games | textSearch: searchField.value"
    [routerLink]="['/games', game.id]"
>
    <h1>Pickup Game</h1>
    <hr>
    <div>
        <h1>{{ game.datetime | date:'EEEE, h:mm a' }}</h1>
        <span class="info">
            {{ game.datetime | date:'MMMM d, y' }}
        </span>
    </div>
    <div>
        <h1>{{ game.location.name }}</h1>
        <span class="info">
            {{ game.location.address }}
        </span>
    </div>

</md-card>
