$sub-color = #aaa
$hover-color = #fafafa
$info-font-size = 14px

@import "./../common/ui/load-more-card.styl"

md-card
    margin: 15px auto
    max-width: 640px
    overflow: hidden
    padding: 12px

    &:hover
        text-decoration: none
        background: $hover-color

    h1
        font-size: 16px
        margin: 5px 0 0

    .info
        color: $sub-color
        font-size: $info-font-size

.full-width
    width: 100%
