<md-toolbar>
    <app-navigation></app-navigation>
    <app-title></app-title>
    <button md-icon-button [routerLink]="['add']">
        <app-icon name="plus-circle"></app-icon>
    </button>

    <md-toolbar-row>
        <form [formGroup]="form" class="full-width">
            <md-input-container>
                <input mdInput
                    formControlName="search"
                    placeholder="Search"
                    [style.width]="'100%'"
                    #search>
            </md-input-container>
        </form>
    </md-toolbar-row>
</md-toolbar>

<app-games-list [games]="games"></app-games-list>

<app-load-more-block [canLoadMore]="canLoadMore" (loadMoreCallback)="loadMore()"></app-load-more-block>
