<md-toolbar>
    <app-menu-button></app-menu-button>
    <app-title></app-title>
    <button md-icon-button [routerLink]="['add']">
        <md-icon>add_circle_outline</md-icon>
    </button>

    <md-toolbar-row>
        <form [formGroup]="form">
            <md-input
                formControlName="search"
                placeholder="Search"
                [style.width]="'100%'"
                #search>
            </md-input>
        </form>
    </md-toolbar-row>
</md-toolbar>

<md-card
    *ngFor="let game of games"
    [routerLink]="['/games', game.id]"
>
    <h1>Pickup Game</h1>
    <hr>
    <div>
        <h1>{{ game.datetime | date:'EEEE, h:mm a' }}</h1>
        <span class="info">
            {{ game.datetime | date:'MMMM d, y' }}
        </span>
    </div>
    <div>
        <h1>{{ game.location.name }}</h1>
        <span class="info">
            {{ game.location.address }}
        </span>
    </div>
</md-card>

<md-card class="load-more-container" [ngClass]="isLoading ? 'non-clickable' : 'clickable'" (click)="loadMore()" *ngIf="canLoadMore">
    <div class="load-more player-info" *ngIf="!isLoading">
        <span>Load more</span>
    </div>
    <div class="load-more player-info" *ngIf="isLoading">
        <md-spinner></md-spinner>
    </div>
</md-card>
