@import "../../common/styles/variables.styl"

.container
    width 100%
    height 100%

    display flex
    justify-content center
    align-items center
    flex-flow column
    text-align center

    & > h1
        font-size $title-font-size
        text-transform uppercase
        padding-bottom 10px

    .games-container
        display flex
        flex-flow column
        width 100%

        & > div
            padding 5px

            & > div
                background-color $hover-color
                border: 1px solid $main-theme-color
