@import "../../common/styles/variables.styl"

.player-details
    display flex
    flex-flow row wrap

    .info
        max-height none
        margin-top auto
        border-bottom none

    .name-container h1
        color $general-font-color

    .bio h1
        font-size $title-font-size

