@import "../../common/styles/variables.styl"

.player-details
    width 100%
    height 100%

    display flex
    flex-flow row
    justify-content center
    align-items center

    .first-part
        padding 24px

        .profile-pic
            margin-left 0

    .second-part
        margin-left 10px

        .info
            max-height none
            height auto
            margin-top auto
            border-bottom none

            .name-container
                height auto
                width 100%
                text-align center

                .name
                    padding-left 0

                h1
                    color $general-font-color
