<md-toolbar>
    <app-menu-button></app-menu-button>
    <app-title></app-title>
    <button md-icon-button [routerLink]="['add']">
        <md-icon>add_circle_outline</md-icon>
    </button>

    <md-toolbar-row>
        <form [formGroup]="form">
            <md-input
                formControlName="search"
                placeholder="Search"
                [style.width]="'100%'"
                #search>
            </md-input>
        </form>
    </md-toolbar-row>
</md-toolbar>

<md-card
    *ngFor="let team of teams"
    [routerLink]="['/teams', team.id]"
>
    <h1> {{ team.name }} </h1>
    <div class="info">
        [{{ ['coed', 'female', 'male'][team.type] }}]
        {{ team.info }}
    </div>
</md-card>

<div class="load-more-container" *ngIf="canLoadMore">
    <md-card class="clickable" *ngIf="!isLoading" (click)="loadMore()">
        <div class="load-more">
            <span>Load more</span>
        </div>
    </md-card>
    <div class="load-more" *ngIf="isLoading">
        <md-spinner></md-spinner>
    </div>
</div>
