<md-toolbar>
    <app-menu-button></app-menu-button>
    <span class='toolbar-title'> {{ title.observable | async }} </span>

    <button md-icon-button [routerLink]="['add']">
        <md-icon>add_circle_outline</md-icon>
    </button>

    <md-toolbar-row>
        <md-input
            placeholder="Search"
            [style.width]="'100%'"
            #searchField
        ></md-input>
    </md-toolbar-row>
</md-toolbar>

<md-card
    *ngFor="let team of teams | textSearch: searchField.value"
    [routerLink]="['/teams', team.id]"
>
    <h1> {{ team.name }} </h1>
    <div class="info">
        [{{ ['coed', 'female', 'male'][team.type] }}]
        {{ team.info }}
    </div>
</md-card>
