$card-height = 72px
$sub-color = #aaa

@import "./../common/ui/load-more-card.styl"

md-card
    height: $card-height
    margin: 15px auto
    max-width: 640px
    overflow: hidden
    padding: 12px

    &:hover
        text-decoration: none
        background: #fafafa

    h1
        font-size: 16px
        margin: 5px 0 0

    .info
        color: $sub-color
        font-size: 11px
        max-height: 32px
        overflow: hidden
