@import '../common/styles/variables.styl';

.logout-link
    padding-left 15px
    text-decoration none
    text-transform uppercase
    color $sub-color
    font-size $general-font-size
    cursor pointer
