@import "../../../common/styles/variables.styl"
@import "../../../common/styles/custom-buttons.styl"

.register-container
    display flex
    flex-flow column
    align-items center
    justify-content center
    min-height 200px

    form
        padding 0px 20px
