@import "../../styles/variables.styl";

.game-group
    margin-top 10px
    .game-group-title
        text-align center
        text-transform uppercase

.game-header
    width 100%
    display inline-block

    & > h1
        float left

    & > span.rsvp-status
        float right
        line-height 1
        color $main-theme-color
