<div *ngFor="let key of keys()" class="game-group">
    <span class="game-group-title"><h4>{{key}}</h4></span>
    <md-card
        *ngFor="let game of gamesDictionary[key]"
        [routerLink]="['/games', game.id]"
    >
        <h1>{{ game.name }}</h1>
        <hr>
        <div>
            <h1>{{ game.datetime | date:'EEEE, h:mm a' }}</h1>
            <span class="info">
            {{ game.datetime | date:'MMMM d, y' }}
        </span>
        </div>
        <div>
            <h1>{{ game.location.name }}</h1>
            <span class="info">
            {{ game.location.address }}
        </span>
        </div>
    </md-card>
</div>
