@import "../../common/styles/variables.styl"

.edit-input-line
    display flex

    .edit-input-button
        height 40px
    md-radio-group
        width 100%

.inline-roaster-header
    display inline-block
    width 100%
    h1
        float left
    button
        float right

md-radio-group
    margin-left auto
    md-radio-button
        font-size $general-font-size
        margin-right 5px

.player
    display: flex
    align-items center
    .clickable-player
        display flex
        cursor pointer
        width 50%
    .mat-list-item-content
        width: 100%
    md-select
        width 50%

.flex-right
    margin-left auto
