/* You can add global styles to this file, and also import other style files */

html, body, app-root
    background: #eee
    height: 100%
    min-width: 320px

md-sidenav-container
    max-width: 1000px
    margin: auto
    box-shadow: 0px 0px 5px 0px rgba(100, 100, 100, 0.75)

md-input-container
    width: 100%

html, body
    font-family: Helvetica, Arial, sans-serif

// Remove Chrome focus outline
*:focus
    outline: none !important
    text-decoration: none !important


// Let toolbar title take all available space
app-title
    flex: 1 1 auto
    text-align: center

.toolbar-icon-spacer
    width: 40px  // md-icon-button width


// Tabs
.mat-tab-labels
    justify-content: space-around
