<md-toolbar>
    <app-back-button #backButton [disabled]="isPosting"></app-back-button>
    <app-title></app-title>
    <div class="toolbar-icon-spacer"></div>
</md-toolbar>


<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- First name -->
    <md-input
        #firstName
        [dividerColor]="
            form.controls.firstName.valid ||
            form.controls.firstName.pristine ?
            'primary' : 'warn'
        "
        formControlName="firstName"
        placeholder="First name"
        required
        type='text'
    >
        <md-hint *ngIf="firstName.focused" align="end">
            <span *ngIf="form.controls.firstName.errors?.required">
                required
            </span>
            <span *ngIf="!form.controls.firstName.errors?.required">
                {{ firstName.characterCount }} / 30
            </span>
        </md-hint>
    </md-input>
    <br>

    <!-- Last name -->
    <md-input
        #lastName
        [dividerColor]="
            form.controls.lastName.valid ||
            form.controls.lastName.pristine ?
            'primary' : 'warn'
        "
        formControlName="lastName"
        placeholder="Last name"
        required
        type='text'
    >
        <md-hint *ngIf="lastName.focused" align="end">
            <span *ngIf="form.controls.lastName.errors?.required">
                required
            </span>
            <span *ngIf="!form.controls.lastName.errors?.required">
                {{ lastName.characterCount }} / 30
            </span>
        </md-hint>
    </md-input>
    <br>

    <!-- Bio -->
    <md-textarea
        #bio
        [dividerColor]="form.controls.bio.valid ? 'primary' : 'warn'"
        type='text'
        formControlName="bio"
        placeholder="Tell us about your soccer skillz..."
    >
        <md-hint *ngIf="bio.focused" align="end">
            {{ bio.characterCount }} / 1000
        </md-hint>
    </md-textarea>
    <br>

    <!-- birthday -->
    <md-input
        placeholder='Date of birth'
        type='date'
        formControlName='birthday'
    ></md-input>
    <br>

    <div class="buttons">
        <button
            (click)="backButton.back()"
            [disabled]="isPosting"
            md-raised-button
        >
            Cancel
        </button>
        <button
            [disabled]="form.invalid || isPosting"
            color="primary"
            md-raised-button
            type="submit"
        >
            Save
        </button>
    </div>
</form>
