<md-toolbar>
    <app-navigation></app-navigation>
    <app-title></app-title>
    <div class="toolbar-icon-spacer"></div>
</md-toolbar>


<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- First name -->
    <md-input-container [dividerColor]="
                form.controls.firstName.valid ||
                form.controls.firstName.pristine ?
                'primary' : 'warn'" #firstNameContainer>
        <input mdInput
            #firstName
            formControlName="firstName"
            placeholder="First name"
            required
            type='text'>
        <md-hint *ngIf="firstNameContainer._mdInputChild.focused" align="end">
            <span *ngIf="form.controls.firstName.errors?.required">
                required
            </span>
            <span *ngIf="!form.controls.firstName.errors?.required">
                {{ firstName.value.length }} / 30
            </span>
        </md-hint>
    </md-input-container>
    <br>

    <!-- Last name -->
    <md-input-container [dividerColor]="
            form.controls.lastName.valid ||
            form.controls.lastName.pristine ?
            'primary' : 'warn'" #lastNameContainer>
        <input mdInput
            #lastName
            formControlName="lastName"
            placeholder="Last name"
            required
            type='text'>
        <md-hint *ngIf="lastNameContainer._mdInputChild.focused" align="end">
            <span *ngIf="form.controls.lastName.errors?.required">
                required
            </span>
            <span *ngIf="!form.controls.lastName.errors?.required">
                {{ lastName.value.length }} / 30
            </span>
        </md-hint>
    </md-input-container>
    <br>

    <!-- Bio -->
    <md-input-container [dividerColor]="form.controls.bio.valid ? 'primary' : 'warn'" #bioContainer>
        <textarea mdInput
            #bio
            type='text'
            formControlName="bio"
            placeholder="Tell us about your soccer skillz...">
            <md-hint *ngIf="bioContainer._mdInputChild.focused" align="end">
                {{ bio.value.length }} / 1000
            </md-hint>
        </textarea>
    </md-input-container>
    <br>

    <!-- birthday -->
    <md-input-container>
        <input mdInput
            placeholder='Date of birth'
            type='date'
            formControlName='birthday'>
    </md-input-container>
    <br>

    <div class="buttons">
        <button
            (click)="backButton.back()"
            md-raised-button>
            Cancel
        </button>
        <button
            [disabled]="form.invalid"
            color="primary"
            md-raised-button
            type="submit">
            Save
        </button>
    </div>
</form>
