<md-toolbar>
    <app-menu-button></app-menu-button>
    <app-title value="Home"></app-title>
    <md-icon></md-icon>
</md-toolbar>

<md-card>
    <md-grid-list cols="2" rowHeight="200px">
        <md-grid-tile colspan="2" [routerLink]="'/profile'">
            <app-profile-tile class="grid-tile" [user]="user"></app-profile-tile>
        </md-grid-tile>
        <md-grid-tile [routerLink]="'/games/my'">
            <app-my-games-tile class="grid-tile right-border" [user]="user"></app-my-games-tile>
        </md-grid-tile>
        <md-grid-tile [routerLink]="'/teams'">
            <app-my-teams-tile class="grid-tile" [user]="user"></app-my-teams-tile>
        </md-grid-tile>
        <md-grid-tile colspan="2" [routerLink]="'/games/my'">
            <app-my-next-game-tile class="grid-tile"></app-my-next-game-tile>
        </md-grid-tile>
        <md-grid-tile colspan="2" [routerLink]="'/games'">
            <app-pickup-games-tile class="grid-tile"></app-pickup-games-tile>
        </md-grid-tile>
        <md-grid-tile [routerLink]="'/players'">
            <app-players-tile class="grid-tile right-border"></app-players-tile>
        </md-grid-tile>
        <md-grid-tile [routerLink]="'/teams'">
            <app-teams-tile class="grid-tile"></app-teams-tile>
        </md-grid-tile>
        <md-grid-tile colspan="2" (click)="sendMail()">
            <app-contactus-tile class="grid-tile"></app-contactus-tile>
        </md-grid-tile>
    </md-grid-list>
</md-card>
