<md-toolbar>
    <app-menu-button></app-menu-button>
    <app-title value="Home"></app-title>
    <md-icon></md-icon>
</md-toolbar>

<md-tab-group>
    <md-tab label="Games">
        Coming SOON™
    </md-tab>
    <md-tab label="Teams">
        <md-card
            *ngFor="let team of user.managedTeams"
            [routerLink]="['/teams', team.id]"
        >
            <h1> {{ team.name }} </h1>
            <div class="info">
                [{{ ['coed', 'female', 'male'][team.type] }}]
                {{ team.info }}
            </div>
        </md-card>
    </md-tab>

    <md-tab>
        <template md-tab-label>
            Invites
        </template>
        Coming SOON™
    </md-tab>
</md-tab-group>
