@import "../common/styles/variables.styl"

md-card
    padding 0
    &:hover
        background-color white

.grid-tile
    width 100%
    height 100%
    border-bottom 1px solid rgba(0,0,0,0.1)
    padding 15px
    &.right-border
        border-right 1px solid rgba(0,0,0,0.1)
    &:hover
        background-color $hover-color
