$sub-color = #aaa
$hover-color = #fafafa

form
    padding: 24px
    max-width: 640px
    margin: 0 auto


.locations-list
    position: absolute
    background: white
    z-index: 2
    margin-top: 12px
    padding: 0
    max-width: 592px

    md-list-item:hover
        background: $hover-color

    p
        color: $sub-color
        font-size: 11px


.buttons
    display: flex
    justify-content: flex-end

    button
        margin-left: 24px

