<md-toolbar>
    <app-back-button
        #backButton
        [disabled]="isPosting"
    ></app-back-button>
    <app-title [value]="'Create a game'"></app-title>
    <div class="toolbar-icon-spacer"></div>
</md-toolbar>


<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div formGroupName="location">
        <md-input
            #locationName
            [dividerColor]="
                form.controls.name.valid ||
                form.controls.name.pristine ?
                'primary' : 'warn'
            "
            [style.width]="'100%'"
            (blur)="hideLocations()"
            (focus)="showLocations()"
            autocomplete="off"
            formControlName="name"
            placeholder="Game location"
            required
            type='text'
        >
            <md-hint *ngIf="locationName.focused" align="end">
                <span *ngIf="locationControls.name.errors?.required">
                    required
                </span>
                <span *ngIf="!locationControls.name.errors?.required">
                    {{ locationName.characterCount }} / 30
                </span>
            </md-hint>
        </md-input>

        <md-card class="locations-list" [hidden]="!showLocationsList">
            <md-list>
                <md-list-item
                    *ngFor="
                        let location of locations
                        | textSearch:locationName.value
                        | slice:0:5
                    "
                    (click)="setLocation(location)"
                >
                    <h3 md-line>{{ location.name }}</h3>
                    <p md-line>{{ location.address }}</p>
                </md-list-item>
            </md-list>
        </md-card>

        <md-input
            #locationAddress
            [dividerColor]="
                form.controls.name.valid ||
                form.controls.name.pristine ?
                'primary' : 'warn'
            "
            [style.width]="'100%'"
            autocomplete="off"
            formControlName="address"
            placeholder="Address"
            required
            type='text'
        >
            <md-hint *ngIf="locationAddress.focused" align="end">
                <span *ngIf="locationControls.name.errors?.required">
                    required
                </span>
                <span *ngIf="!locationControls.name.errors?.required">
                    {{ locationAddress.characterCount }} / 30
                </span>
            </md-hint>
        </md-input>
    </div>

    <md-input
        #name
        [dividerColor]="
            form.controls.name.valid ||
            form.controls.name.pristine ?
            'primary' : 'warn'
        "
        [style.width]="'100%'"
        formControlName="name"
        placeholder="Team name"
        required
        type='text'
    >
        <md-hint *ngIf="name.focused" align="end">
            <span *ngIf="form.controls.name.errors?.required">
                required
            </span>
            <span *ngIf="!form.controls.name.errors?.required">
                {{ name.characterCount }} / 30
            </span>
        </md-hint>
    </md-input>
    <br>


    <div class="buttons">
        <button
            (click)="backButton.back()"
            [disabled]="isPosting"
            md-raised-button
        >
            Cancel
        </button>
            <!-- [disabled]="form.invalid || isPosting" -->
        <button
            color="primary"
            md-raised-button
            type="submit"
        >
            Save
        </button>
    </div>
</form>
