$card-height = 72px
$player-pic-dia = 50px
$sub-color = #aaa
$header-font-size = 20px
$subheader-font-size = 16px
$info-font-size = 14px
$card-width = 640px;

.data-row
    display flex

    div
        padding 10px

.player
    display: flex
    height: $card-height
    max-width: $card-width
    padding: 0
    margin: 0

    &:hover
        text-decoration: none
        background: #fafafa

    .player-info
        padding: 0 12px

    h1
        font-size: 16px
        margin: 5px 0 0

    .role
        color: $sub-color
        font-size: 11px

    .player-pic
        border-radius: 50%
        height: $player-pic-dia
        width: $player-pic-dia

.header-content
    margin: 15px auto;
    max-width: $card-width
    padding: 12px;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 8px 20px;
    font-size: $header-font-size

    .header-text
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
