<md-toolbar>
    <app-back-button></app-back-button>
    <app-title value="Pickup Game"></app-title>

    <button *ngIf="!user" md-button color="primary" (click)="join()">
        Join
    </button>
    <button *ngIf="user" md-button color="primary" (click)="leave()">
        Leave
    </button>
</md-toolbar>

<div class="container">
    <div class='row'>

        <div class="col-md-2 col-sm-12">
            <strong>I'm</strong>
        </div>
        <div *ngIf="!user" class="col-md-10 col-sm-12">
            <a href="javascript:void(0)" (click)="join()">Able to join!</a>
        </div>
        <div *ngIf="user" class="col-md-10 col-sm-12">
            <div class="btn-group" data-toggle="buttons">
                <label
                    *ngFor="let status of [2, 0, 1];"
                    [class.active]="status == user.rsvp"
                    class="btn btn-secondary"
                >
                    <input
                        [disabled]="status == user.rsvp"
                        (click)="setStatus(status)"
                        type="radio" name="options"
                        id="option1" autocomplete="off">
                    {{rsvpMessages[status]}}
                </label>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class="col-md-2 col-sm-12">
            <strong>When?</strong>
        </div>
        <div *ngIf="!editMode" class="col-md-10 col-sm-12">
            {{ game?.datetime | date: 'shortTime' }}
            {{ game?.datetime | date: 'fullDate' }}
        </div>
        <div *ngIf="editMode" class="col-md-10 col-sm-12">
            ---
        </div>
    </div>

    <div class='row'>
        <div class="col-md-2 col-sm-12">
            <strong>Where?</strong>
        </div>
        <div class="col-md-10 col-sm-12">
            {{ game?.location.name }} ({{ game?.location.address }})
        </div>
    </div>


    <div class='row'>
        <div class="col-md-12">
            <h2>Players</h2>
        </div>
    </div>

    <div class='row'><div class="col-md-12">
        <ul style="padding: 0; margin: 0; list-style: none;">
            <li *ngFor="let player of game?.players">
                <a [routerLink]="['/players', player.id]">
                    {{player.firstName}} {{player.lastName}}
                    <span *ngIf="player.id === user?.id">(You)</span>
                </a>
                ({{rsvpMessages[player.rsvp]}})
            </li>
        </ul>
    </div></div>

</div>
