@import "../../common/styles/variables.styl"

.data-row
    display flex
    div
        padding 10px

    .right-btn
        margin-left auto

md-radio-button
    margin-right 20px

.players-list
    .header-content
        .header-text
            & > p
                float left
            & > button
                float right
    .player-info
        width 100%
        & > .inline-info
            display inline-block
            width 100%
            & > h1
                float left
            & > .rsvp-status
                color $main-theme-color
                float right
