<md-toolbar>
    <app-back-button></app-back-button>
    <app-title></app-title>

    <button *ngIf="!user" md-button color="primary" (click)="join()">
        Join
    </button>
    <button *ngIf="user" md-button color="primary" (click)="leave()">
        Leave
    </button>
</md-toolbar>


<md-card>
    <div class="data-row">
        <div>
            <strong>I'm</strong>
        </div>
        <div *ngIf="!user">
            <a href="javascript:void(0)" (click)="join()">Able to join!</a>
        </div>
        <div [hidden]="!user">
            <md-radio-group>
                <md-radio-button *ngFor="let status of [2, 0, 1];" [value]="status">{{rsvpMessages[status]}}  </md-radio-button>
            </md-radio-group>
        </div>
    </div>
    <div class="data-row">
        <div>
            <strong>When?</strong>
        </div>
        <div>
            {{ game?.datetime | date: 'shortTime' }}
            {{ game?.datetime | date: 'fullDate' }}
        </div>
    </div>
    <div class="data-row">
        <div>
            <strong>Where?</strong>
        </div>
        <div>
            {{ game?.location.name }} ({{ game?.location.address }})
        </div>
    </div>
</md-card>
<md-card class="players-list">
    <div class="header-content">
        <div class="header-text">
            <p>Players</p>
            <button
                *ngIf="isAddPlayersVisible()"
                md-mini-fab
                [routerLink]="['/players', {targetGame: game?.id}]">
                <md-icon>add</md-icon>
            </button>
        </div>
    </div>
    <hr/>
    <md-list>
        <a
            md-list-item
            class="player"
            *ngFor="let player of game?.players"
            [routerLink]="['/players', player.id]"
        >
            <img [src]="player.img" alt="" class="player-pic">
            <div class="player-info">
                <div class="inline-info">
                    <h1> {{ player.firstName }} {{ player.lastName }} </h1>
                    <span class="rsvp-status">{{ rsvpMessages[player.rsvp] }}</span>
                </div>
            </div>
        </a>
    </md-list>
</md-card>
