<div *ngIf="game && form">
    <form [formGroup]="form">
        <div formGroupName="location">
            <md-input-container [dividerColor]="
                        form.controls.location.controls.name.valid ||
                        form.controls.location.controls.name.pristine ?
                        'primary' : 'warn'" #locationNameContainer>
                <input mdInput
                       #locationName
                       formControlName="name"
                       placeholder="Game location"
                       required
                       [mdAutocomplete]="locationAutoComplete"
                       type='text'>
                <md-hint align="end" *ngIf="locationNameContainer._mdInputChild.focused">
                    <span *ngIf="locationControls.name.errors?.required">
                        required
                    </span>
                    <span *ngIf="!form.controls.location.controls.name.errors?.required">
                        {{ locationName.value.length }} / 30
                    </span>
                </md-hint>
            </md-input-container>

            <md-autocomplete #locationAutoComplete="mdAutocomplete" [displayWith]="displayLocation">
                <md-option *ngFor="let location of locations" [value]="location">
                    {{ location.name }} - {{ location.address }}
                </md-option>
            </md-autocomplete>

            <md-input-container [dividerColor]="
                        locationControls.address.valid ||
                        locationControls.address.pristine ?
                        'primary' : 'warn'" #locationAddressContainer>
                <input mdInput
                       #locationAddress
                       [style.width]="'100%'"
                       autocomplete="off"
                       formControlName="address"
                       placeholder="Address"
                       type='text'
                       #locationInput>
                <md-hint align="end" *ngIf="locationAddressContainer._mdInputChild.focused">
                    <span *ngIf="locationControls.address.errors?.required">
                        required
                    </span>
                    <span *ngIf="!locationControls.address.errors?.required">
                        {{ locationAddress.value.length }} / 255
                    </span>
                </md-hint>
            </md-input-container>
        </div>

        <md-grid-list cols="2" rowHeight="80px">
            <md-grid-tile>
                <md-input-container
                    class="full-width"
                    [dividerColor]="
                    form.controls.date.valid ||
                    form.controls.date.pristine ?
                    'primary' : 'warn'" #dateContainer>
                    <input #date
                           mdInput
                           formControlName="date"
                           placeholder="Game date"
                           required
                           type='date'>
                    <md-hint align="end" *ngIf="dateContainer._mdInputChild.focused">
                        <span *ngIf="form.controls.date.errors?.required">
                            required
                        </span>
                    </md-hint>
                </md-input-container>
            </md-grid-tile>
            <md-grid-tile>
                <md-input-container class="full-width" #timeContainer>
                    <input #time
                           mdInput
                           formControlName="time"
                           [placeholder]="'Game time (' + tzName + ')'"
                           required
                           type='time'>
                    <md-hint align="end" *ngIf="timeContainer._mdInputChild.focused">
                        <span *ngIf="form.controls.time.errors?.required">
                            required
                        </span>
                    </md-hint>
                </md-input-container>
            </md-grid-tile>
        </md-grid-list>

        <div class="bottom-buttons-container">
            <button md-icon-button (click)="exit()">
                <app-icon name="exit"></app-icon>
            </button>
            <button md-icon-button (click)="save()" [disabled]="form.invalid">
                <app-icon name="save"></app-icon>
            </button>
        </div>
    </form>
</div>
